/* model CSS */
@media only screen and (max-width: 600px){
  .model-title{
    font-size: 24px;
  }
  .model-price{
    font-size: 18px;
  }
}



.housedeets{
    margin: auto;
}


  /* Position the image container (needed to position the left and right arrows) */
.img-container {
    position: relative;
}

  /* Hide the images by default */
.mySlides, .myslides2 {
    display: none;
}

  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

  /* Number text (1/3 etc) */
.numbertext, .numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    margin-bottom: 5px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnails, .thumbnails2{
    margin: 5px;
}
  
  /* Six columns side by side */
.column {
    float: left;
    width: 25%;
}

  /* Add a transparency effect for thumnbail images */
.demo, .demo2{
    opacity: 0.6;
}
  
.active , .active2, .demo:hover, .demo:hover, .demo2:hover, .demo2:hover {
    opacity: 1;
}

/* .tabs .tab a { */
    /* color: rgba(38, 166, 154, 0.7); */
    /*Custom Text Color*/
/* } */
  
 

 .contact{
padding: 5px; }

 /* .card-image{
     margin: 0;
 } */

blockquote{
     border-color: gray;
     font-size: 11px;
    }